<p>Title:<%= link_to "/movies/#{movie.id}" do %><%= movie.title %><% end %></p>
<p>Genre(s):
  <% if movie.genres.length > 0 %>
  <% movie.genres.each do |genre| %>
  <%= genre.name %>
  <% end %>
  <% end %>
</p>
<p>Release Date: <%= movie.release_date %></p>