<h2>Review Movies</h2>
<%= render 'create' %>
<p>Sort by: <button class="genre">Genre</button>  <button class="title">Title</button>  <button class="release-date">Release Date</button></p>
<% if @movies.length > 0 %>
<div class="movie-list">
  <% @movies.each do |movie| %>
  <!-- or render movie? -->
  <%= render movie %>
  <% end %>
  <% end %>
</div>

<div id="movie-template" style="display: none;">
  <div class="movie">
    <p class="title"><a href=""></a></p>
    <p class="genre"></p>
    <p class="release-date"></p>
  </div>
</div>